{
  "fncs_zpl": {
    "values": {
      "1": {
        "topic": "fncs_Test/fncs_output",
        "default": "0",
        "list": "fasle",
        "type": "JSON"
      }
    },
    "name": "FNCS_Volttron_Bridge",
    "time_delta": "1s",
    "broker": "tcp://localhost:5570"
  },
  "remote_platform_params": {
    "agent_public": "cDc4_Lli13dt-__ju-vpgAeOEbbRPaOVzQoeQ5KHjUk",
    "server_key": "XDMM3_KrXqSaaPXEM3vL7rumk4nd-A30dcksjfFWNyM",
    "port": 22916,
    "agent_secret": "k19_VwSSfbFUzm4Op3DGBlOH6Vd7rMJWy4iQo_t-wuw",
    "vip_address": "tcp://127.0.0.1"
  },
  "heartbeat_period": 1,
  "heartbeat_multiplier": 1,
  "simulation_run_time": "24h"
}