{
  "fncs_zpl": {
    "values": {
      "1": {
        "topic": "fncs_Test/fncs_output",
        "default": "0",
        "list": "fasle",
        "type": "JSON"
      }
    },
    "name": "FNCS_Volttron_Bridge",
    "time_delta": "1s",
    "broker": "tcp://localhost:5570"
  },
  "remote_platform_params": {
    "agent_public": "nRLgJyyNSkPjg9I0giruoJ7Fv4rtkjdYgmoY__nWj28",
    "server_key": "gQ0c3zxPfvwCnUPu3GrVTQxFGOGfnn-BJYg323ZTyU4",
    "port": 22916,
    "agent_secret": "KXQI_A5fisXRISpsoWU-elqOsqni88uo0IYNMS1tTes",
    "vip_address": "tcp://127.0.0.1"
  },
  "heartbeat_period": 1,
  "heartbeat_multiplier": 1,
  "simulation_run_time": "24h"
}